/* this is a universal selector. this is used to select all elements*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* this is a Type selector. it uses the element name from your html file*/

h1 {
  
  color: brown;
  
}

/* add a border to the p element */

p {
  font-family: Arial, sans-serif;
  border: 3px solid red; 
  padding: 10px;
  
}



.red-box {
  width: 300px;
  height: 80px;
  background-color: yellow;
  border: 5px solid red;
  padding: 10px;
  margin-left: 2px;
 
}

