/* this is a universal selector. this is used to select all elements*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* this is a Type selector. it uses the element name from your html file*/

h1 {
  
  color: red;
  
}

/* add a border to the p element */

p {
  font-family: Arial, sans-serif;
  border: 6px solid black; 
  padding: 10px;
  
}



.red-box {
  width: 300px;
  height: 100px;
  background-color: red;
  border: 5px solid blue;
  padding: 10px;
  margin-left: 50px;
 
}

